<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="left">Questions</h1>
    <%= link_to "Make a question", new_question_path, class: "btn btn-primary" %>
    <%= render 'shared/all_questions' %>  	
  </div>
</div>