<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Flow Overstack</h1>
  <h2>
    This is the home page for flow overstack application.
  </h2>
</div>

<h1 class="left">Questions</h1>
<%= link_to "Make a question", new_question_path, class: "btn btn-primary" %>
<%= render 'shared/all_questions' %>