@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$orange-red:  #ff4500;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  text-align: left;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.new-question {
  margin-bottom: 10px;
}
/* questions */

.questions {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  li {
    padding: 0;
  }
  .mini-counts {
    font-size: 17px;
    font-weight: 300;
    color: #6a737c;
    margin-bottom: 2px;
    display: inline-flex;
  }
  .list-group {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    .list-group-item {
      display: inline-flex !important;
      width: 100%;
      height: auto;
      border-radius: 0px;
      border-bottom: 0px none;
      border-left: 0px none;
      border-right: 0px none;
      .metrics{
        width: 13%;
        height: 50px;
        display: inline-flex;
        .answers{
          display: block;
          height: 38px;
          min-width: 38px;
          margin: 0 3px 0 0;
          font-size: 11px;
          color: #848d95;
          padding: 5px 5px 6px 10px;
          text-align: center;
        }
        .summary {
          width: 82%;
          float: left;
          padding: 0;
          display: block;
          padding-left: 20px;
        }  
      }    
    }    
  }
  .questioner {
    color: $gray-light;
    display: block;
    a {
      color: $gray-light;
      &:hover {
        color: $gray-light;
        text-decoration: none;
      }
    }
  }
  .title {
    text-align: left;
    font-size: 1.3em;
    margin-top: 4px;
    margin-bottom: 4px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: bold;
    a {
      color: $orange-red;
      &:hover {
        color: $gray-light;
        text-decoration: none;
      }
    }
  }
}

.questions_view {
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }
  .author {
    color: $gray-light;
    display: block;
    margin-bottom: 20px;
  }
  .content {
    display: block;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-bottom: 40px;
  }

  h2 {
    text-align: left;
    color: black;
    font-weight: bold;
    text-transform: uppercase; 
  }

  .question_answers {
    border-top: 1px solid $gray-medium-light;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* votes */

.product-upvote {
  position: relative;
  float: left;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  padding: 5px 5px;
  width: 35px;

  .upvote-arrow {
    border-bottom: 9px solid #534540;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid transparent;
    left: 10px;
    position: absolute;
    top: 0px;
  }

  .upvote-count {
    display: block;
    color: #303030;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin-top: 18px;
  }

  &:hover .upvote-arrow { border-bottom-color: #F04500; }

  &.upvote-active {
    .upvote-arrow { border-bottom-color: #F04500; }
    .upvote-count { color: #F04500; }
  }
}